
header {
   color: #ffffff;
   background-color: #222028;
   background-image: url('img/ingredients-1920w.jpg');
   background-size: cover;
   background-blend-mode: multiply;
   padding: 20px;
}

main {
    padding: 10px;
}

body {
  font-family : georgia, serif;
  color: #222028;
}

em {
  font-style: normal;
}

.highlight {
  color: #222028;
  background-color : #ffbc48;
  padding: 2px;
}

.section {
    font-family : 'Fira Sans', sans-serif; 
    text-transform: uppercase;
}

.overview {
  color : #ffbc48;
  background-color : #222028;
  font-family : 'Fira Sans', sans-serif; 
  padding: 20px;
  
}

a:hover {
color: #ffffff;
}

a {
color: #ffbc48;
text-decoration: none;
}

blockquote {
  border-left-color: #ffbc48;
  border-left-width: 5px;
}

ul {
    list-style-type: none;
}

h1 {
  font-family : 'Fira Sans', sans-serif; 
  color: #ffffff;
}

h2 {
  font-family : 'Fira Sans', sans-serif; 
  color: #222028;
}
  
h3 {
    font-family : 'Fira Sans', sans-serif;
    color: #222028;
  }
  

footer {
    color: #ffffff;
    background-color: #222028;
    padding: 16px;
}  
